<%- include('./partials/head') %> 

<body>

    <div class="alert alert-danger">
      <h1>
        <span class="material-icons">campaign</span>
       Form de Cadastro</h1>
    </div>
    
  </body>
</html>